*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(45deg,  #B1B3C7, #C7B1C5, #7DAD7D, #404047);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 8s ease infinite;

}

@keyframes cambiar{
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.titulo{
    color: #FFFFFF;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    
}

.foto_perfil{ 
    margin-left: 5%;
    margin-bottom: 3%;
    border-radius: 50%;

    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 10px 0px #c4dcdc;
}

.info_personal{
    
    color: #1A1D1C;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}

.texto_datos_personales{
    padding: 35px;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 0px #ffffff;
    line-height: 25px;
    margin-right: 20%;
}

.texto_presentacion{
    line-height: 25px;
    display: none;
    margin-left: 22%;
    margin-right: 20%;

    font-style: italic;
}

.texto_experiencia{
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%;
    display: none;

    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

}

.texto_estudios{
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%;

    display: none;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.texto_conocimientos{
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%;

    display: none;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.texto_idiomas{
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%;

    display: none;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;


    padding: 5px 32px;
    border: none;
    border-radius: 40px;
    background-color: #c4dcdc;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px #c4dcdc;
}

.show{
    display: flex;
}

.btn:hover{
    border: 0px;
    background-color: #B1B3C7  ;
    color: #FFFFFF;
    font-size: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}



footer{
    margin-bottom: 10%;
}